@font-face {
    font-family: "orbitronregular";
    src: url("Items/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
        url("Items/orbitron-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url("Items/orbitron-variablefont_wght-webfont.woff2") format('woff2'),
        url("Items/comfortaa-variablefont_wght-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(47, 54, 60);
}

img {
    width: 50px;
    height: auto;
    font-size: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

img:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

object {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}

a:hover {
    color: rgb(151, 151, 151);
    text-decoration: none;
}

p {
    font-size: 20px;
    color: gray;
}

p1 {
    font-size: 15px;
    color: gray;
}

.topHandle {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background-color: rgb(30, 34, 39);
    color: rgb(151, 151, 151);
    font-size: 50px;
    font-family: "orbitronregular";
    padding-top: 0.1%;
    z-index: 1;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(30, 34, 39);
}

/* remove this if not used */
.leftHandle {
    width: 100px;
    height: 100vh;
    background-color: rgb(30, 34, 39);
    font-size: 20px;
}

.grid {
    margin-top: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
}

.gridCell {
    background-color: rgb(47, 54, 60);
    border: 100px;
    padding: 15px;
    padding-bottom: 30px;
}

.material-symbols-outlined.profileIcon.md-150 {
    margin-top: 5px;
    font-size: 65px;
    font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 480;
}

.profileIconAtTop {
    float: right;
    margin-right: 1%;
}

.galaxy {
    width: 500px;
    height: 260px;
    border-radius: 15px;
}

.cellMargin {
    margin-top: 9%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* This block of code corrects the page zoom and scaling for different screen sizes */

@media (-webkit-device-pixel-ratio: 1.25) {
    * {
        zoom: 0.955;
    }
}

@media (-webkit-device-pixel-ratio: 1.5) {
    * {
        zoom: 0.94;
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.25) {
    .material-symbols-outlined.profileIcon.md-150 {
        margin-top: 5px;
        font-size: 78px;
        font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 480;
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .material-symbols-outlined.profileIcon.md-150 {
        margin-top: 5px;
        font-size: 78px;
        font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 480;
    }
}