/* Custom fonts from Google*/

@font-face {
    font-family: "orbitronregular";
    src: url("Items/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
        url("Items/orbitron-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anek_malayalammedium";
    src: url("Items/anekmalayalam-variablefont_wdthwght-webfont.woff2") format("woff2"),
        url("Items/anekmalayalam-variablefont_wdthwght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(47, 54, 60);
}


h1 {
    font-family: "orbitronregular";
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    color: black;
}

p {
    font-family: "orbitronregular";
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    padding-top: 30px;
    color: black;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 15px;
    color: rgb(124, 135, 145);
}

p3 {
    font-family: Arial, Helvetica, sans-serif;
}

p4 {
    display: table-row;
    color: black;
}

p5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(7, 7, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(39, 27, 255);
}

img {
    width: 50px;
    height: auto;
    font-size: 50px;
    vertical-align: middle;
}

form {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-family: "anek_malayalammedium";
    font-size: 30px;
    margin-right: 8px;
    margin-bottom: 20px;
    display: table-cell;
}

input {
    background-color: rgba(255, 255, 255, 0.197);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: table-cell;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 29px;
    margin-right: 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.585);
}

.material-symbols-outlined.profileIcon.md-150 {
    margin-bottom: 20px;
    font-size: 150px;
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 480;
    color: black;
}

.loginPage {
    border-radius: 10px;
    height: 800px;
    width: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(77, 84, 90);
}

.loginButton {
    width: 350px;
    height: 45px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    outline: none !important;
    color: rgb(171, 179, 184);
    background-color: rgb(19, 125, 19);
    cursor: pointer;
    margin-top: 50px;
    cursor: pointer;
}

.center {
    margin-top: 2%;
}