/* Custom fonts from Google*/

@font-face {
    font-family: "orbitronregular";
    src: url("Items/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
        url("Items/orbitron-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaaregular';
    src: url("Items/comfortaa-variablefont_wght-webfont.woff2") format('woff2'),
        url("Items/comfortaa-variablefont_wght-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(47, 54, 60);
}

p {
    font-family: "orbitronregular";
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;

}

input {
    display: inline-grid;
    background-color: rgb(112, 118, 122);
    color: rgba(255, 255, 255, 0.585);
    border: none;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 33px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    margin-top: 3%;
}

::placeholder {
    color: rgb(42, 42, 42);
    font-family: 'comfortaaregular';
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.registrationWindow {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(77, 84, 90);
}

.nextButton {
    display: inline-grid;
    width: 100px;
    height: 33px;
    margin-top: 20%;
    color: rgb(214, 214, 214);
    font-size: 25px;
    background-color: rgb(38, 133, 129);
    border-radius: 5px;
    border: none;
    outline: none !important;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* This block of code corrects the page zoom and scaling for different screen sizes */

@media only screen and (-webkit-device-pixel-ratio: 1.25) {
    * {
        zoom: 0.99;
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    * {
        zoom: 0.99;
    }
}