@font-face {
    font-family: "orbitronregular";
    src: url("Items/orbitron-variablefont_wght-webfont.woff2") format("woff2"),
        url("Items/orbitron-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anek_malayalammedium";
    src: url("Items/anekmalayalam-variablefont_wdthwght-webfont.woff2") format("woff2"),
        url("Items/anekmalayalam-variablefont_wdthwght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.registrationWindow {
    width: 1000px;
    height: 480px;
    border-radius: 10px;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(77, 84, 90);
}


.nextButton {
    width: 100px;
    height: 40px;
    color: rgb(171, 179, 184);
    font-size: 30px;
    margin-left: 740px;
    margin-bottom: 50%;
    background-color: rgb(19, 125, 19);
    border-radius: 5px;
    border: none;
}

.nextButton:hover {
    background-color: rgb(17, 112, 17);
}

body {
    background-color: rgb(47, 54, 60);
}

p {
    font-family: "orbitronregular";
    margin-left: 40px;
    font-size: 50px;
    margin-bottom: 20px;
}

form {
    display: table;
    margin: 185px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    margin-left: 208.5px;
}

label {
    font-family: "anek_malayalammedium";
    display: table-cell;
    font-size: 30px;
    margin-left: 10px;
}

input {
    display: table-cell;
    background-color: rgb(112, 118, 122);
    color: rgba(255, 255, 255, 0.585);
    border: none;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 29px;
}

p1 {
    display: table-row;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
}